*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #3682fa ;
    --secondary-color: #f9bf66 ;
    --main-bg-color: #b7dcfe ;
    --secondary-bg-color: #9890e2 ;
}

html{
    font-family: 'PT Sans', sans-serif;
}

p{
    line-height: 1.5rem;
}
/*  utilities */

.flex{
    display: flex;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}


.container{
    width: 80%;
    padding: 2rem 0;
}

.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: white;
    border: none;
}


/* HEADER */

header{
    height: 70px;
    width: 100%;
    background-color: var(--main-color);
    color: white;
}

header figure.logo{
    width: 35%;
    border: 2px dotted black ;
}

header nav{
    align-items: center;
    justify-content: flex-end;
    width: 65%;
}

figure.logo img{
    height: 40px;
}

header ul{
    list-style-type: none;
    align-content: center;
}

header li{
    display: none;
    font-size: 1.2rem;
    margin-left: 1rem;
}

header li:first-child{
    display: inline-block;
    font-size: 1.5rem;
}


/* MAIN */

/*  specs section */

section.specs div.cards {
    justify-content: space-between;
}

section.specs article.card {
    /* height: 500px; */
    width: 100%;
    background-color: var(--main-bg-color);
    margin-top: 2rem;
    border-radius: 1.5rem;
    padding: 2rem 1.5rem 0 1.5rem;
    text-align: center;
    
}

section.specs article.card:first-child{
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

section.specs article.card>i {
    font-size: 5rem;
    color: var(--main-color);
    margin-bottom: 2rem;
}

section.specs h2 {
    margin-bottom: 1rem;
    color: var(--main-color);
}

section.specs p {
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: rgb(116, 116, 116);
}

section.specs button {
    background-color: var(--main-color);
    color: white;
    padding: 0.5rem 3rem;
}

section.specs img {
    width: 250px;
    margin-left: 2rem;
    margin-top: 1.5rem;
}



/*  planning section */

section.planning {
    background-color: var(--secondary-bg-color);
    color: white;
}

section.planning div.row {
    justify-content: space-between;
    align-items: flex-end;
}

section.planning div.col {
    width: 100%;
    margin-top: 2rem;
}

section.planning div.col:nth-child(2) {
    background-color: white;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: black;
    text-align: center;
}

section.planning div.col:nth-child(2) img{
    width: 80%;
}

section.planning img{
    width: 100%;
}

section.planning h2{
    margin: 2rem 0;
    font-weight: 700;
    font-size: 1.5rem;
}

section.planning h3{
    margin: 1rem 0;
    font-weight: 700;
    font-size: 1.3rem;
}

section.planning div.arrow{
    background-color: var(--secondary-bg-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 1rem;
}





/*  testimonials section */

section.testimonials div.container{
    align-items: center;
    flex-direction: column;
}

section.testimonials article.card {
    background-color: violet;
    width: 100%;
    height: 500px;
    border: 2px solid black;
    margin-top: 2rem;
}



/*  benefit section */

section.benefit {
    background-color: violet;
}

section.benefit h2{
    text-align: center;
}

section.benefit div.cards {
    justify-content: space-between;
}

section.benefit article.card {
    width: 100%;
    height: 500px;
    border: 2px solid black;
    margin-top: 2rem;
    background-color: white;
}



/*  about-us section */

section.about-us div.row {
    justify-content: space-between;
}

section.about-us div.col {
    width: 100%;
    height: 500px;
    border: 2px solid black;
    margin-top: 2rem;
}


/*  get-started section */

section.get-started {
    background-color: violet;
}

section.get-started div.flex {
    flex-direction: column;
    align-items: center;
}



/*  FOOTER */

footer{
    background-color: gray;
    height: 100px;
}

footer div.container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



/* MEDIA QUERIES */

/*  Tablet */
@media all and (min-width: 768px){

    .container{
        width: 90%;
        padding: 2rem 0;
    }

    /* specs section */
    section.specs article.card {
        width: calc((100% - 2rem) / 3);
    }

    section.specs article.card:first-child {
        width: calc((100% - 2rem) / 3 * 2 + 1rem);
    }

    /* benefit sections */
    section.benefit article.card {
        width: calc((100% - 1rem) / 2);
    }

    /*  about-us section */
    section.about-us div.col {
        width: calc((100% - 1rem) / 2);
    }
}


/* Desktop */
@media all and (min-width: 992px){

    .container{
        width: 893px;
        padding: 2rem 0;
    }

    /*  header */
    header li{
        display: inline-block;
    }
    
    header li:first-child{
        display: none;
    }

    /*  soecs */
    section.specs article.card:first-child{
        flex-direction: row;
        justify-content: space-between;
    }

    section.specs img {
        align-self: flex-end;
    }

    /*  planning section */
    section.planning div.col {
        width: calc((100% - 1rem) / 2);
    }

    /* benefit sections */
    section.benefit article.card {
        width: calc((100% - 2rem) / 3);
    }
}